.mainConatiner {
  background: #ffffff;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  transition-timing-function: linear;
  transition: all 1s ease-out;
}

.borderStyle {
  border-top: 8px solid #6b9080;
}
