@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;600;700&display=swap');

$primary: #6b9080;
$p-600: #a4c3b2;
$p-500: #cce3de;
$p-400: #eaf4f4;
$p-200: #f6fff8;

$primary-black: #000000;
$primary-white: #ffffff;
$text-grey: #d6d6d6;

$info: #4c7297;
$info-dark: #254d74;
$font-primary: 'Arimo', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$font-32: 2rem;
$font-22: 1.375rem;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;
